body {
  text-align: center;
}
/* .btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: blue;
  background-color: aqua;
  border: 10px solid aquamarine;
  border-radius: 5px;

  /* transition-property: transform;*/
/*transition-duration: 0.3s;*/
/*transition-timing-function: ease;*/
/*transition-delay: 0s; */

/*transition: transform 0.3s, ; */

/* .btn:hover {
    transform: translateY(-10px);
    background-color: white;
    color: blueviolet;
} */

/* *********************************************** */

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

/* .heading-1 {
  /* animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both; */
/* 
  animation: slideInLeft 1s ease-in;

   transform: translateX(-150px);  */

.slideInLeft {
  animation: slideInLeft 1s ease-in;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-fast {
  animation-duration: 0.6s;
}

.animate-slow {
  animation-duration: 3s;
}
.animate.animate--delay-1s {
  animation-delay: 1s;
}

.rotate {
  animation-name: rotate;
  animation-timing-function: linear;
  transform-origin: top left;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce;
}
