/* header */
.header {
    position: sticky;
    top: 0;
    background-color: #008080; 
    color: #fff;
    z-index: 100; 
    margin: 0;
    height: 60px; 
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    position: absolute;
    top: 10px; 
    left: 10px;  
    bottom: 0;
}

.logo a {
    text-decoration: none;
}

/* .logo-img {
    width: 30px;
    height: 30px; 
} */

.logo-name {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff; 
    margin-left: 5px;
}

.header-nav {
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-nav a:hover {
    color: aquamarine;
    padding: 10px 0; 
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}


.burger-icon {
    display: none;
    font-size: 36px;
    cursor: pointer;
}
.burger-icon .material-icons{
    color: #fff;
    float: right; 
    padding: 15px;
}
@media (max-width:1200px) {
    .header-search {
        display: none;
    }
}
@media (max-width: 1024px) {
    .header-nav {
        gap: 15px;
        padding: 10px;
    }
    .header-nav a {
        font-size: 18px;
        text-align: center;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .logo-name {
        visibility: hidden;
    }
}
@media (max-width: 770px) {
    .header {
        position: relative; 
        height: 60px; 

    }

    .header-nav {
        display: none;
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #008080;
        transform: none;
        padding: 20px;
        gap: 10px;
    }
     .header-nav .material-icons {
       display: none;
    }
    
    .logo-name {
        visibility: visible;
    }
    .header-nav.active {
        display: flex; 
        height: auto;
    }
    .burger-icon {
        display: block;
        position: absolute;
        right: 20px;
    }
}
@media (max-width: 375px) {
    .header-nav a {
        font-size: 14px;
    }
    .burger-icon {
        font-size: 30px;
    }
}