/*Tours ******************************************************/
.tours-section {
    margin-bottom: 100px;
}

.tours-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 50px;
}
  
.tour-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
  }
  
.tour-card:hover {
    transform: scale(1.05);
  }
  
.tour-img {
    padding: 20px 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.tour-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #005757;
}

.read-more {
    display: inline-block;
    font-size: 16px;
    color: #008080;
    text-decoration: none;
}

.like-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
  
.material-icons {
    font-size: 24px;
    color: #008080; 
}
  
.like-btn.active .material-icons {
    color: red; 
}
  
.filter-buttons {
    background-color: #e0f2f1; 
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 10px;
    gap: 20px;
}

.filter-buttons button {
    background-color: #e0f2f1;
    color: #008080;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
    background-color: #008080;
    color: #fff;
}
.filter-buttons .active {
    background-color: #008080;
    color: white;
}
  
.category-hashtag {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #008080; 
    font-weight: 700;
}

@media (max-width: 1440px) {
    .section-heading, .tours-section{
        margin: 30px;
        text-align: center;
    }
}
@media (max-width: 1024px) {
    .tours-list {
        margin: 0 30px;
        gap: 20px;
    }
    .tour-card {
        width: 250px;
        padding: 15px;
    }
    .tour-img {
        height: 150px;
    }
    .tour-card h3 {
        font-size: 20px;
    }
    .read-more {
        font-size: 14px;
    }
    .filter-buttons {
        flex-wrap: wrap;
        gap: 15px;
        padding: 8px;
    }
    .filter-buttons button {
        font-size: 16px;
        padding: 8px 18px;
    }
}
@media (max-width: 770px) {
    .tours-list {
        margin: 0 20px;
        gap: 15px;
    }
    .tour-card {
        width: 220px;
        padding: 10px;
        position: relative;
    }
    .tour-img {
        height: 130px;
    }
    .tour-card h3 {
        font-size: 18px;
    }
    .read-more {
        font-size: 14px;
    }
    .filter-buttons {
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 5px;
        padding: 5px;
    }
    .filter-buttons button {
        padding: 8px;
        font-size: 14px;
    }
    .like-button {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
}
@media (max-width: 375px) {
    .tour-card h3 {
        font-size: 16px;
    }
    .read-more {
        font-size: 12px;
    }
    .filter-buttons {
        gap: 8px;
    }
    .filter-buttons button {
        font-size: 14px;
        padding: 8px;
    }
}


/*Tour*/
.tours-description-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

@media (max-width: 1440px) {
    .section-heading, .tours-description-section {
        margin: 30px;
        text-align: center;
    }
}

.tour-page {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.tour-image {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tour-details {
    width: 40%;
}

.tour-price {
    font-size: 24px;
    font-weight: 700;
    color: #008080;
}

.tour-inclusions {
    margin-top: 30px;
}

.tour-inclusions h2 {
    color: #005757;
    margin-bottom: 20px;
}

.inclusion-list {
    list-style: none;
    padding: 0;
    background-color: #e0f2f1;
    margin: 10px;
    padding: 10px;
}

.inclusion-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.inclusion-list i {
    font-size: 24px;
    color: #008080;
    margin-right: 10px;
}

.tour-description {
    width: 900px;
    text-align: start;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tour-description h2 {
    color: #005757;
    font-size: 22px;
    line-height: 1.5;
}

.tour-description p {
    font-size: 18px;
    line-height: 1.3;
}

.btn-book {
    display: inline-block;
    padding: 8px 20px;
    margin-left: 10px;
    background-color: #008080;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-book:hover {
    background-color: #005959;
}

@media (max-width: 1024px) {
    .tour-page {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .tour-image {
        width: 100%;
        height: auto;
    }
    .tour-details {
        width: 100%;
    }
    .tour-description {
        width: 100%;
    }
    .tour-price {
        font-size: 20px;
    }
    .tour-inclusions h2,
    .tour-description h2 {
        font-size: 20px;
    }
    .tour-description p {
        font-size: 16px;
    }
    .btn-book {
        padding: 10px 15px;
        font-size: 16px;
    }
}
@media (max-width: 770px) {
    .tours-description-section {
        padding: 20px 10px;
    }
    .tour-page {
        padding: 15px;
        margin: 30px auto;
    }
    .tour-price {
        font-size: 18px;
    }
    .inclusion-list li {
        font-size: 16px;
    }
    .tour-description p {
        font-size: 14px;
    }
    .btn-book {
        padding: 8px 12px;
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .tour-page {
        margin: 20px;
    }
    .tour-price {
        font-size: 16px;
    }
    .tour-inclusions h2,
    .tour-description h2 {
        font-size: 18px;
    }
    .tour-description p {
        font-size: 12px;
    }
    .btn-book {
        padding: 5px 10px;
        font-size: 12px;
    }
}
