@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol{
    /* list-style-type: lower-alpha; */
    /* list-style-type: georgian; */
    /* list-style-type: circle; */
    list-style-type: none;
    
}

ul{
    /* list-style-type: square; */
    /* list-style-image: url(./images/checkmark.png); */
    /* list-style-position: inside; */
    list-style: square url(./images/checkmark.png) inside;

    color: blue;
    line-height: 1.6;
}

li:nth-child(even){
    color: red;
}

/* 
ul ::marker{
    color: blueviolet;
    line-height: 1.5;
    content: "text is ";
} */