body{
    background: hsl(218, 75%, 8%);
    color: white;
}
.hotel-list {
    container-type: inline-size;
    width: min(100% - 3rem, 800px);
    margin-inline: auto;
    display: grid;
    gap: 1rem;
  }
  
  .hotel-listing {
    border: 5px dotted red;
    display: flex;
    gap: 1.5rem;
  }
  
  .hotel-listing > * {
    outline: 2px solid lime;
    flex-shrink: 1;
    flex-grow: 0;
  }
  
  .hotel-info {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 30ch;
  }
  
  .hotel-meta {
    flex-shrink: 0;
    flex-basis: 14ch;
  }